<h1>Editer le commentaire du gossip numéro <%= @comment.gossip_id%></h1>
<p><%= @comment.body%></p>
<td> <%= link_to 'Ha non,supprimer ce commentaire!', gossip_comment_path(@comment.gossip_id,@comment.id), method: :delete %></td></br></br>

<%= form_tag gossip_comment_path(@gossip.id,@comment.id), method: :put do %>
  <%= label_tag 'anonymous_commentor', 'Ton pseudo:' %>
  <%= text_field_tag 'anonymous_commentor' %></br>
 
  <%= label_tag 'body', 'Vas-y balance:' %>
  <%= text_area_tag 'body', @comment.body %></br>

  <%= submit_tag "Modifier"%>
<% end %>

